
### THIS IS PUPPET MODIFIED FILE BY FUEL DEPLOYER ###

<% @val_nfs_shares.each do |myshare| -%>

# will expose directory '<%= myshare %>' using NFS
/backup/_nfs_shares/<%= myshare %>	*(rw,sync,no_subtree_check,insecure)

<% end -%>

