
### THIS IS PUPPET MODIFIED FILE BY FUEL DEPLOYER ###

<% @backup_server_nodes_ips.each do |mynode, mynodeip| -%>

# will do rsync to node '<%= mynode %>' with IP '<%= mynodeip %>'
*/5 * * * * root /usr/bin/rsync -a --password-file /etc/rsync-client.secrets /etc/ rsync://rsyncd_user@<%= mynodeip %>/backup_server/<%= @fqdn %>/

<% end -%>

