
### THIS IS PUPPET MODIFIED FILE BY FUEL DEPLOYER ###

# will do rsync to VIP in public network colocated on backup_servers: '<%= @backup_server_vip_public %>'
*/5 * * * * root /usr/bin/rsync -a --password-file /etc/rsync-client.secrets /etc/ rsync://rsyncd_user@<%= @backup_server_vip_public %>/backup_server/<%= @fqdn %>-via-special-public-vip/

# will do rsync to VIP in management network colocated on backup_servers: '<%= @backup_server_vip_mgmt %>'
*/5 * * * * root /usr/bin/rsync -a --password-file /etc/rsync-client.secrets /etc/ rsync://rsyncd_user@<%= @backup_server_vip_mgmt %>/backup_server/<%= @fqdn %>-via-special-mgmt-vip/

# will do rsync to VIP in public network colocated on controllers: '<%= @public_vip %>'
*/5 * * * * root /usr/bin/rsync -a --password-file /etc/rsync-client.secrets /etc/ rsync://rsyncd_user@<%= @public_vip %>/backup_server/<%= @fqdn %>-via-public-vip/

# will do rsync to VIP in management network colocated on controllers: '<%= @management_vip %>'
*/5 * * * * root /usr/bin/rsync -a --password-file /etc/rsync-client.secrets /etc/ rsync://rsyncd_user@<%= @management_vip %>/backup_server/<%= @fqdn %>-via-management-vip/

