
### THIS IS PUPPET MODIFIED FILE BY FUEL DEPLOYER ###

log file=/var/log/rsyncd

[backup_server]

        comment = public archive
        path = /backup/<%= @val_directory_on_backup_server %>
        use chroot = yes
#       max connections=10
        lock file = /var/lock/rsyncd
        read only = no
        list = yes
        uid = root
        gid = root
        auth users = rsyncd_user
        secrets file = /etc/rsyncd.secrets
        strict modes = yes
#       hosts allow =
#       hosts deny =
        ignore errors = no
        ignore nonreadable = yes
        transfer logging = yes
#       log format = %t: host %h (%a) %o %f (%l bytes). Total %b bytes.
        timeout = 600
        refuse options = checksum dry-run
        dont compress = *.gz *.tgz *.zip *.z *.rpm *.deb *.iso *.bz2 *.tbz

